<!doctype html>
<html>
	<head>
		<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
		<title>FIFA Roster Manager</title>
	</head>
	<body>
		<header>
			<img src="/img/logo.png" alt="FIFA Roster Manager">
		</header>
		{{{body}}}
	</body>
</html>